@font-face {
    font-family: 'Mooli'; 
    src: url('assets/Mooli/Mooli-Regular.ttf') format('woff2')
}
body {
    margin: 0;
}
* {    
    font-family: 'Mooli', sans-serif; 
}
.container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url("assets/pxfuel.jpg");
    color: #fff;
    display: flex;
    padding: 30px 0;
    background-size: 100%;
    flex-direction: column;
}
.container:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0007;
    z-index: 1;
}
.container * {
    z-index: 2;
}
.title {
    font-size: 1.5rem;
    text-align: center;
}
.place {
    display: flex;
    gaP: 20px;
    font-size: 1.7rem;
    margin-bottom: 10px;
    justify-content: center;
}
.place .name {
    text-align: left;
    width: 300px;
    margin-left: 150px;
}
.place .rank {
    text-align: left;
    width: 300px;
}